<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_registro.css">
    <title>Document</title>
</head>
<header>
    <div class="nav-bar">
        <div class="logo">
        <img src="img/gamer-logo-design-template-7c2e7661fd6f8d96a12b26710b06dc8a_screen.jpg">
        </div>
        <form action="register.html" method="post"><input type="search">
        <input type="submit" value="Buscar">
        <button>login</button>
        <button>carrito de compra</button>
    </div>
</header>
<body>
    <main>
        <div class="h2">
            <h2>Registrese</h2>
            <h5>Ingrese sus datos</h5>
        </div>  
        <div class="form"><form action="register.html" method="post"><input type="text"></form>  <form action="register.html" method="post"><input type="text"></form></div>
        <div class="email"><form action="register.html" method="post"><input type="email"></div>
        <div class="number"><form action="register.html" method="post"><input type="tel"></div>
        <div class="password"><form action="register.html" method="post"><input type="password"><form action="register.html" method="post"><input type="password"></div>
        <div class="submit"><button>Registrarse</button></div>
        <div class="text">
            ¿Ya tienes una cuenta? inicia sesion acá
        </div>
    </main>
</body>
</html>